# Connect to DB

In [1]:
#!pip install py2neo
#!pip install neo4j

In [1]:
from neo4j import GraphDatabase 
from pandas.io.json import json_normalize
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from py2neo import Graph,Node,Relationship

In [3]:
eventData = pd.read_csv('./Sample_Game_1/Sample_Game_1_RawEventsData.csv')
away = pd.read_csv('./Sample_Game_1/Sample_Game_1_RawTrackingData_Away_Team.csv')
home = pd.read_csv('./Sample_Game_1/Sample_Game_1_RawTrackingData_Home_Team.csv')

C:\tools\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
eventData.shape

(1745, 14)

In [5]:
eventData.head()

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,0.45,0.39,0.55,0.43
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,0.45,0.32,0.49,0.47

In [6]:
eventData.tail()

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
1740,Home,PASS,NaN,2,143361,5734.44,143483,5739.32,Player12,Player13,0.60,0.33,0.19,0.95
1741,Home,PASS,NaN,2,143578,5743.12,143593,5743.72,Player13,Player4,0.09,0.88,0.14,0.69
1742,Home,BALL LOST,INTERCEPTION,2,143598,5743.92,143618,5744.72,Player4,NaN,0.13,0.69,0.07,0.61
1743,Away,RECOVERY,BLOCKED,2,143617,5744.68,143617,5744.68,Player16,NaN,0.05,0.62,NaN,NaN
1744,Away,BALL OUT,NaN,2,143622,5744.88,143630,5745.20,Player16,NaN,0.05,0.63,0.03,1.01

In [21]:
eventData.isnull().sum()

Team                0
Type                0
Subtype           953
Period              0
Start Frame         0
Start Time [s]      0
End Frame           0
End Time [s]        0
From                0
To                946
Start X            81
Start Y            81
End X             636
End Y             636
dtype: int64

In [7]:
#eventData['Team'] = eventData['Team'].replace('Away', int(1))

In [8]:
#eventData['Team'] = eventData['Team'].replace('Home', int(0))

In [9]:
#eventData.head()

In [10]:
#eventData.tail()

In [11]:
eventData.columns

Index(['Team', 'Type', 'Subtype', 'Period', 'Start Frame', 'Start Time [s]',
       'End Frame', 'End Time [s]', 'From', 'To', 'Start X', 'Start Y',
       'End X', 'End Y'],
      dtype='object')

In [12]:
grouped = eventData.groupby(eventData['Team'])

In [14]:
home = grouped.get_group('Home')

In [15]:
away = grouped.get_group('Away')

In [16]:
home

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
8,Home,RECOVERY,INTERCEPTION,1,378,15.12,378,15.12,Player2,NaN,0.27,0.78,NaN,NaN
9,Home,BALL LOST,INTERCEPTION,1,378,15.12,452,18.08,Player2,NaN,0.27,0.78,0.59,0.64
13,Home,CHALLENGE,AERIAL-WON,1,498,19.92,498,19.92,Player2,NaN,0.36,0.67,NaN,NaN
14,Home,RECOVERY,INTERCEPTION,1,498,19.92,498,19.92,Player2,NaN,0.36,0.67,NaN,NaN
15,Home,PASS,HEAD,1,498,19.92,536,21.44,Player2,Player9,0.36,0.67,0.53,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1738,Home,RECOVERY,INTERCEPTION,2,143240,5729.60,143240,5729.60,Player14,NaN,0.74,0.22,NaN,NaN
1739,Home,PASS,NaN,2,143262,5730.48,143297,5731.88,Player14,Player12,0.75,0.22,0.71,0.28
1740,Home,PASS,NaN,2,143361,5734.44,143483,5739.32,Player12,Player13,0.60,0.33,0.19,0.95
1741,Home,PASS,NaN,2,143578,5743.12,143593,5743.72,Player13,Player4,0.09,0.88,0.14,0.69
1742,Home,BALL LOST,INTERCEPTION,2,143598,5743.92,143618,5744.72,Player4,NaN,0.13,0.69,0.07,0.61

In [17]:
away

,Team,Type,Subtype,Period,Start Frame,Start Time [s],End Frame,End Time [s],From,To,Start X,Start Y,End X,End Y
0,Away,SET PIECE,KICK OFF,1,1,0.04,0,0.00,Player19,NaN,NaN,NaN,NaN,NaN
1,Away,PASS,NaN,1,1,0.04,3,0.12,Player19,Player21,0.45,0.39,0.55,0.43
2,Away,PASS,NaN,1,3,0.12,17,0.68,Player21,Player15,0.55,0.43,0.58,0.21
3,Away,PASS,NaN,1,45,1.80,61,2.44,Player15,Player19,0.55,0.19,0.45,0.31
4,Away,PASS,NaN,1,77,3.08,96,3.84,Player19,Player21,0.45,0.32,0.49,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,Away,RECOVERY,INTERCEPTION,2,143013,5720.52,143013,5720.52,Player16,NaN,0.47,0.37,NaN,NaN
1736,Away,PASS,NaN,2,143130,5725.20,143137,5725.48,Player16,Player18,0.50,0.37,0.61,0.53
1737,Away,BALL LOST,INTERCEPTION,2,143229,5729.16,143247,5729.88,Player18,NaN,0.68,0.30,0.77,0.23
1743,Away,RECOVERY,BLOCKED,2,143617,5744.68,143617,5744.68,Player16,NaN,0.05,0.62,NaN,NaN
1744,Away,BALL OUT,NaN,2,143622,5744.88,143630,5745.20,Player16,NaN,0.05,0.63,0.03,1.01

In [18]:
home.to_csv('HomeTeam.csv', header=True, index =False)

In [19]:
away.to_csv('AwayTeam.csv', header=True, index =False)

***

In [ ]:
eventData = eventData.rename(columns={"Start Frame":"Start_Frame", "Start Time [s]":"Start_Time", "End Frame": "End_Frame", "End Time [s]": "End_Time", "Start X": "Start_X", "Start Y": "Start_Y", "End X": "End_X", "End Y": "End_Y"})

In [ ]:
eventData.isnull().sum()

In [ ]:
away.shape

In [ ]:
home.shape

In [ ]:
away.head()

In [ ]:
away.columns

In [ ]:
home.head()

In [ ]:
# Create connection to database

class neo4jConnection:
    
    def __init__(self, uri, user, pwd):
        self.__uri = uri
        self.__user = user
        self.__pwd = pwd
        self.__driver = None
        try:
            self.__driver = GraphDatabase.driver(self.__uri, auth=(self.__user, self.__pwd))
        except Exception as e:
                print("Failed to create the driver: ", e)
                
    def query(self, query, db=None):
        assert self.__driver is not None, "Driver not initialized!"
        session = None
        response = None
        try:
            session = self.__driver.session(database=db) if db is not None else self.__driver.session()
            response = list(session.run(query))
        except Exception as e:
            print("Query failed!", e)
        finally:
            if session is not None:
                session.close()
        return response
    
    def close(self):
        if self.__driver is not None:
            self.__driver.close()

# Connect to neo4j
conn = neo4jConnection(uri="bolt://localhost:7687", user="neo4j", pwd="test123")

conn.query("CREATE OR REPLACE DATABASE footballMatch")

eventData.columns

query_string = '''
LOAD CSV WITH HEADERS FROM 'https://github.com/metrica-sports/sample-data/blob/master/data/Sample_Game_1/Sample_Game_1_RawEventsData.csv' AS row
MERGE (e:Event {team: row.Team, type: row.Type, subtype: row.Subtype, period: row.Period, startFrame: row.Start_Frame, 
startTime: row.Start_Time, endFrame: row.End_Frame, endTime: row.End_Time, from: row.From, to: row.to, startX: row.Start_X, 
startY: row.Start_Y, endX: row.End_X, endY: row.End_Y})
'''

conn.query(query_string, db='neo4j')

In [5]:
graph = Graph('http://localhost:7474', auth=("neo4j", "test123"))

In [8]:
#Cypher Query
number_of_players_nodes="MATCH(p:Player) RETURN Count(p)"


#Evaluate the Cypher query
result_persons=graph.evaluate(number_of_players_nodes)
#result_movies=graph.evaluate(number_of_movie_nodes)#Print the result
print(f"No of players node is {result_persons}")

No of players node is 28